@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

* {
  font-family: 'Inter', sans-serif;
}

/* Add this to your global CSS file (e.g., styles/globals.css or index.css) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #6d6d6d; /* Color of the scrollbar */
  border-radius: 9999px; /* Roundness of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #e2e8f0; /* Background of the scrollbar track */
}
